body {
    background-color:pink;
}
.navbar {
    top: 0%;
    position: fixed;
    background-color: #4740ff;
    text-align: center;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    margin: auto;
}   
.Container{
    margin-top: 70px;
    width: 90%;
    background-color: #ff4040;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px auto;
    grid-template-areas:'artikelpplg artikelpplg artikelpplg artikelpplg'
     'Artikel1 Artikel2 Artikel2 Artikel3'
    'About Artikel4 Artikel4 Artikel4';
    margin-top: 70px;
    margin:auto;

}
.artikelpplg{
    grid-area: artikelpplg;
}
.Artikel1{
    grid-area: Artikel1;
}
.Artikel2{
    grid-area: Artikel2;
}
.Artikel3{
    grid-area: Artikel3;
}
.Artikel4{
    grid-area: Artikel4;
}
.About{
    grid-area: About;
}
.footer{
    buttom: 0%;
    position: fixed;
    background-color: grey;
    text-align: center;
    width: 100%;
    height: 70px;
    display: flex;
    
}